.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.intro {
  font-family: 'Reem Kufi', sans-serif;
  font-size: 3.75em;
  font-weight: 600;
}

.tagline {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  font-weight: 100;
}

.icons-social i {
  padding: 10px;
}

.icons-social a {
  color: #1E1E1E;
}

.fa, .fab, .fal, .far, .fas {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FFEB3B;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1E1E1E;
}

.App-link {
  color: #61dafb;
}
a {
  text-decoration: none;
  color: blueviolet;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}